

body {
  background-image: url(https://static.wixstatic.com/media/0514c7_47c1b482f5334483b242d1b1f3b61ebe~mv2.jpg/v1/fill/w_1920,h_1277,al_c,q_90,usm_0.66_1.00_0.01/0514c7_47c1b482f5334483b242d1b1f3b61ebe~mv2.jpg);
  background-size: cover;
}


header {
  text-align: center;
  flex-direction: inherit;
  color: #1fd766;
  list-style: none;
  margin: 23em 44em;
  align-items: center;
  display: flex;
}

.middle {
  color: white;
  font-size: 150px;
  margin: 0em 1em
}

.middle2 {
  text-align: center;
  flex-direction: inherit;
  color: white;
  list-style: none;
  align-items: center;
  display: flex;
  margin: 3em;
}

.logo2 {
  text-align: center;
  flex-direction: inherit;
  list-style: none;
  align-items: center;
  display: flex;
  margin: 2em;
}

.bn59 {
  background-color: white;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
  color: blue;
}
